__pycache__/
models/__pycache__/
op/__pycache__/
util/__pycache__/
thirdparty/__pycache__/

simulations*/*
progress.out
score_hist/* 
misc/*.png
misc/*.gif
alanine_dipeptide/
misc/gifs/

main_branch_test/

inception*/
*.tar.gz

#Simulations subdirectories
vpsde_*/
cld_*/
passive_*/
active_*/
tmp/
ising_2D*
cifar10_test/
